
<div id="location"></div>
<div id="map"></div>

<div id="venues-container">
  <% @venues.map do |venue|%>
  <div class="venue">
    <div class="venue-card-info">
      <h1> <%= venue.name %></h1>
    </div>
    <div class="venue-card-info">
      <b>Address:</b> <%= venue.address %>
    </div>
    <div class="venue-card-info">
      <b>Discount:</b> <%= venue.discount %>
    </div>
    <div class="venue-card-info">
      <b>Applies to:</b> 
      <% venue.tags.map do |tag| %>
        <%= tag.name %>
      <%end%>
    </div>
  </div>
  <% end %>

  <div class="venue">
    <div class="venue-card-info">
      <h1>Know of a student discount?</h1>
      <h1><%= link_to "Add one here!", new_venue_path, :class => "add-venue-button" %></h1>
    </div>
  </div>
</div>


<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_key']%>&callback=initMap">
</script>