<!--   <input id="pac-input" class="controls" type="text" placeholder="Search Box"> -->
  <div id="venue-map"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_key']%>&signed_in=true&libraries=places&callback=initAutocomplete"
    async defer>
</script> 

<!-- form -->
<div class="js-new-venue">
  <h1> Add a new Venue! </h1>

  <%= form_for(@venue) do |f| %>
  <div id='form-name'>
    <%= f.label :name %>
    <%= f.text_field :name, :id => 'pac-input' %><br>
  </div>

  <div id='form-address'>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div id='form-coordinates'>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>  
  </div>
    <%= f.label :discount %>
    <%= f.text_field :discount %><br>

    Tags:
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br>

  Make a New Tag Here: <br>

   <%= f.fields_for :tags, Tag.new do |tag_field| %>
    <%= tag_field.label :name_tag %>
    <%= tag_field.text_field :name %>
    <% end %><br><br>

    <%= f.submit 'Add Venue' %>
  <% end %>
</div>
