<!DOCTYPE html>
<html>
<head>
  <title>Studentdiscount</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
    <div id="nav-logo">
      <%= link_to 'https://studentdiscount.herokuapp.com/', :class => 'logo' do %>
      Student<span class="logo-discount">Discount</span>
      <% end %>
     </div> 

    <div id="nav">
      <ul>
        <li><%= link_to "Home", root_path %> <i class="fa fa-heart"></i></li>
        <li><%= link_to "Add a New Venue", new_venue_path %> <i class="fa fa-plus-circle"></i></li>
        <li><button onclick="getLocation()" class="button-locate">Locate me <i class="fa fa-map-marker"></i></button></li>
      </ul>
    </div>
  </header>

<%= yield %>

</body>
</html>
